@font-face {
	font-family: "CormorantGaramond";
	font-weight: 300;
	src: url('fonts/CormorantGaramond/CormorantGaramond-Light.ttf') format('truetype');
}

@font-face {
	font-family: "CormorantGaramond";
	font-weight: 300;
	font-style: italic;
	src: url('fonts/CormorantGaramond/CormorantGaramond-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: "CormorantGaramond";
	font-weight: 400;
	src: url('fonts/CormorantGaramond/CormorantGaramond-Regular.ttf') format('truetype');
}

@font-face {
	font-family: "CormorantGaramond";
	font-weight: 400;
	font-style: italic;
	src: url('fonts/CormorantGaramond/CormorantGaramond-Italic.ttf') format('truetype');
}

@font-face {
	font-family: "CormorantGaramond";
	font-weight: 500;
	src: url('fonts/CormorantGaramond/CormorantGaramond-Medium.ttf') format('truetype');
}

@font-face {
	font-family: "CormorantGaramond";
	font-weight: 500;
	font-style: italic;
	src: url('fonts/CormorantGaramond/CormorantGaramond-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: "CormorantGaramond";
	font-weight: 600;
	src: url('fonts/CormorantGaramond/CormorantGaramond-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: "CormorantGaramond";
	font-weight: 600;
	font-style: italic;
	src: url('fonts/CormorantGaramond/CormorantGaramond-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: "CormorantGaramond";
	font-weight: 700;
	src: url('fonts/CormorantGaramond/CormorantGaramond-Bold.ttf') format('truetype');
}

@font-face {
	font-family: "CormorantGaramond";
	font-weight: 700;
	font-style: italic;
	src: url('fonts/CormorantGaramond/CormorantGaramond-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: "Lato";
	font-weight: 100;
	src: url('fonts/Lato/Lato-Thin.ttf') format('truetype');
}

@font-face {
	font-family: "Lato";
	font-weight: 100;
	font-style: italic;
	src: url('fonts/Lato/Lato-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: "Lato";
	font-weight: 300;
	src: url('fonts/Lato/Lato-Light.ttf') format('truetype');
}

@font-face {
	font-family: "Lato";
	font-weight: 300;
	font-style: italic;
	src: url('fonts/Lato/Lato-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: "Lato";
	font-weight: 400;
	src: url('fonts/Lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
	font-family: "Lato";
	font-weight: 400;
	font-style: italic;
	src: url('fonts/Lato/Lato-Italic.ttf') format('truetype');
}

@font-face {
	font-family: "Lato";
	font-weight: 700;
	src: url('fonts/Lato/Lato-Bold.ttf') format('truetype');
}

@font-face {
	font-family: "Lato";
	font-weight: 700;
	font-style: italic;
	src: url('fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: "Lato";
	font-weight: 900;
	src: url('fonts/Lato/Lato-Black.ttf') format('truetype');
}

@font-face {
	font-family: "Lato";
	font-weight: 900;
	font-style: italic;
	src: url('fonts/Lato/Lato-BlackItalic.ttf') format('truetype');
}