<!-- Tags -->
<div>
	<!-- <h3>Tags</h3> -->
	<ul class="tags">
		<li>
			<a href="#">
				DevOps
				<span class="count">10</span>
			</a>
		</li>
		<li>
			<a href="#">
				Programming
				<span class="count">5</span>
			</a>
		</li>
		<li>
			<a href="#">
				Linux
				<span class="count">12</span>
			</a>
		</li>
		<li>
			<a href="#">
				Productivity
				<span class="count">2</span>
			</a>
		</li>
		<li>
			<a href="#">
				VIM
				<span class="count">5</span>
			</a>
		</li>
		<li>
			<a href="#">
				VSCode
				<span class="count">5</span>
			</a>
		</li>
		<li>
			<a href="#">
				MySQL
				<span class="count">5</span>
			</a>
		</li>
		<li>
			<a href="#">
				Git
				<span class="count">5</span>
			</a>
		</li>
		<li>
			<a href="#">
				Unix
				<span class="count">5</span>
			</a>
		</li>
		<li>
			<a href="#">
				PHP
				<span class="count">5</span>
			</a>
		</li>
		<li>
			<a href="#">
				Laravel
				<span class="count">5</span>
			</a>
		</li>
	</ul>
</div>
<!-- Tags -->