$red-color: #ff5a5f;
$black-color-1: #111;
$black-color-2: #2b2b2b;
$white-color: #fff;

* {
    padding: 0;
    font-family: inherit;
    box-sizing: border-box;
}

::selection {
    background: $red-color;
    text-shadow: none;
    color: $white-color;
}

html {
    font-family: 'DM Sans', sans-serif;
}

body {
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
}

._container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 0px;
}

._red {
    color: $red-color;
}

a {
    text-decoration: none;
    color: $red-color;
}

p {
    font-weight: 400;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px auto 0px;
    padding: 0 0 20px 0px;
    border-bottom: 2px solid $black-color-1;
    max-width: 1000px;

    .links {
        ul {
            li {
                display: inline-block;
                margin: 0px 10px;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                  margin-right: 0;  
                }

                a {
                    color: $black-color-1;
                    &:hover {
                        color: $red-color;
                    }
                }
            }
        }
    }
}

.author {
    display: flex;
    align-items: center;

    .author_img {
        img {
            width: 70px;
            height: 70px;
        }
    }

    .author_name {
        margin-left: 10px;
        h3 {
            font-weight: 700;
            font-size: 18px;
            margin: 0 0 5px 0;
        }
        
        p {
            font-size: 14px;
            margin: 0;
        }
    }
}

.blog_section {
    ._grid {
        display: grid;
        grid-gap: 40px;
    }
}

._pattern {
    max-height: 350px;
    background-color: lightgrey;
}

._post {
    &._top {
        display: grid;
        grid-template-columns: 400px 1fr;
        grid-gap: 40px;
        align-items: center;

        ._pattern {
            height: 300px;
        }

        h2 {
            font-size: 36px;
            margin: 10px 0px;
        }

        ._date {
            border-left: 2px solid lightgrey;
            padding: 0px 10px;
            margin: 0px 10px;
        }

        p {
            &._category {
                font-size: 18px;
                margin: 0;
            }

            &._desc {
                font-size: 18px;
                margin: 10px 0px;
            }

            &._authorinfo {
                font-size: 14px;
                margin: 0;
            }
        }
    }
}

._posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 40px;
    
    ._pattern {
        height: 220px;
    }

    h3, p {
        font-size: 14px;
    }

    p {
        margin-bottom: 5px;
    }

    h3 {
        margin: 0;
    }
}

._til {
    background-color: $black-color-1;
    color: $white-color;

    ._posts {
        margin-top: 30px;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        ._post {
            padding: 30px;
            &:nth-child(odd) {
                background-color: $white-color;
                color: $black-color-2;
            }

            &:nth-child(even) {
                background-color: $black-color-2;
                color: $white-color;
            }
        }
    }
}

._header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ._heading {
        max-width: 450px;

        h2 {
           margin: 0 0 10px; 
           font-size: 24px;
        }

        p {
            margin: 0;
            font-size: 18px;
        }
    }
}
